html{
    overflow: hidden;
    height:100vh;
    width:100vw;
    padding:0;
    margin:0;
}
html *{
    position: absolute;
}

body{
    padding:0;
    margin:0;
}

game{
    overflow: hidden;
    display:block;
    width:100vw;
    height:100vh;
    top:0;
    left:0;
    background-color: oldlace;
}

game *{
    display : block;
}

startbutton{
    background-color: #c3dfdb;
    border-radius: 5px;
    box-shadow: 5px 5px #888888;
    width: 50vw;
    height: 10vh;
    left:25vw;
    top:70vh;
    text-align: center;
}

cardbox{
    width:90vw;
    height:40vh;
    left:5vw;
    top: 20vh;
}

lockbtn{
    background-color:#c3dfdb;
    border-radius: 5px;
    box-shadow: 5px 5px #888888;
    width:50vw;
    height: 10vh;
    top: 70vh;
    left:25vw;
}

card{
    width: 80vw;
    height: 40vh;
    left:5vw;
    transition: all 1s ease;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 5px 10px #888888;
    background-color: #EFE3CE;
}

leftcycle{
    z-index: 1;
    width:25vw;
    height:30vh;
    left:0;
    top:25vh;
    opacity: 30%;
}

rightcycle{
    z-index: 1;
    width: 25vw;
    height: 30vh;
    right:0;
    top:25vh;
    opacity: 30%;
}

h1{
    text-align: center;
    width: 100%;
}